h1 chat Box (#{username} #{user_id})
 
#message-content
  .chat-message
    span.message 
    span.timestamp 

#chat
  #messages 
    div 
      input#message(type="text")
script(src="../frontend-js/chat.js")