head
    nav#navbar
        ul#navBarUL
            li 
                a(href='/') home
            if logged 
                li
                    a#signout-button Sign Out
            else
                li
                    a(href='/auth/signup') Sign Up
            li
                a(href='/lobby') Play