extends ./layouts/cards-layout.pug

block content
  .gameContainer
    .chatContainer
      include includes/chat    
    .playerN Opponent has n'th of cards
      .NumCards
    
    .currentCard CurrentCard
    
    .cardContainer 
      .cards.red.one 
      .cards.blue.two
      .cards.yellow.three
      .cards.green.four
      .cards.wild.two
      
    input#Button(type="button", value="Draw Card")

block footer 
  script(src="../frontend-js/gameFunc/deck.js" defer)
  script(src="../frontend-js/gameFunc/playerHand.js" defer)
