extends /layouts/layout

block content
    if logged 
        h2 Welcome #{username}
    br
    if logged
        a#signout-button Sign Out
    else
        a(href='/auth/signup') Sign Up
    br
    a(href='/lobby') Lobby page
    br
    a(href='/games/1') Game page