extends /layouts/layout

block content
    if username 
        h2 Welcome #{username} #{sessionID}
    
    br
    a(href='/auth/signup') Sign Up
    br
    a(href='/lobby') Lobby page
    br
    a(href='/games/1') Game page