extends /layouts/layout

block content 
    if username 
        p Welcome #{username} #{sessionID}
    
    p Join a game or Create a new game
    #games-list
        ul
            each game in games
                li
                    span= game.title
                    form(action=`/api/games/${game.id}/join`, method="post")
                        button(type="submit") Join
        
    form(action="/api/games/create", method="post")
        lable(for="title")
        input(type="text", name="title")
        button#new-game New Game

block footer 
    script(src="/socket.io/socket.io.js")
    script(src="../frontend-js/setup.js")
    script(src="../frontend-js/test-socket.js")
    script(src="../frontend-js/gameManagement.js")
