body {
  background-color: rgba(167, 167, 167, 0.806);
}
.gameContainer{
  position: relative;
  display:block;  
  margin: 30px 30px;
  border: 1px solid blue;
  background-color: rgba(24, 187, 111, 0.806);
  height:500px;
  max-width: 1000px;
}

.cardContainer {
  position: relative;
  top: 80%;
  left:10%;
  display:flex;
  max-width: 850px;
  scale: .5 .5;

}

.cards { 
  background-image: url("/../images/cards.png");
  height: 258px;
  width: 171px;
  display: inline-block;
  transition: .2s;
  
}
.cards:hover {
  transform: translateY(-15%);
}
.red {
  background-position-y: 0px;
  max-block-size: inherit;
}

.blue {
  background-position-y: -285px;

}

.yellow {
  background-position-y: -570px;
  
}

.green {
  background-position-y: -855px;
}

.wild{
  background-position-y: -1140px;
  background-position-x: -400px; 
}
.addFour{
  background-position-y: -1140px;
  background-position-x: -200px; 
}

.one{
  background-position-x: -201px; 
}
.two{
  background-position-x: -401px;
}
.three{
  background-position-x: -601px;
}
.four{
  background-position-x: -801px;
}
.five{
  background-position-x: -1001px;
}
.six{
  background-position-x: -1201px;
}
.seven{
  background-position-x: -1400px;
}
.eight{
  background-position-x: -1600px;
}
.nine{
  background-position-x: -1800px;
}

.skip{
  background-position-x: -2000px;
}

.reverse{
  background-position-x: -2200px;
}
.addTwo{
  background-position-x: -2400px;
}